@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laboratorio 03</h1>
    <p>Árboles Binarios de Búsqueda vs. Árboles AVL</a>.</p>
    <p>/Vehiculo/SubirArchivo -> para extraer datos de archivo</p>
</div>
